In [1]:
import pandas as pd

In [5]:
d = []
for i in range(2):
    df = pd.read_csv('results/ir/next/30music/opt/results/test_opt_next_knn_30music.0.csv', sep=';')
    d.append(df)
pd.concat(d)

,Metrics,MRR@20:,HitRate@1:,HitRate@2:,HitRate@3:,HitRate@4:,HitRate@5:,HitRate@6:,HitRate@7:,HitRate@8:,...,MRR@12:,MRR@13:,MRR@14:,MRR@15:,MRR@16:,MRR@17:,MRR@18:,MRR@19:,MRR@20: .1,Unnamed: 42
0,ir_tfidf,0.116161,0.055072,0.121739,0.147826,0.162319,0.182609,0.197101,0.205797,0.223188,...,0.114716,0.114939,0.115146,0.115533,0.115533,0.115703,0.115703,0.116161,0.116161,NaN
0,ir_tfidf,0.116161,0.055072,0.121739,0.147826,0.162319,0.182609,0.197101,0.205797,0.223188,...,0.114716,0.114939,0.115146,0.115533,0.115533,0.115703,0.115703,0.116161,0.116161,NaN